body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
.top-section{
    background-image: url(/images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: white;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
       
}
button{
    background-color: #FF5959;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
}
.donate-today{
    text-align: center;
    width: 50%;
    margin: auto;
}
.amount{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;

}
 .amount h1{
    height: 123px;
    width: 134px;
    background-color: #FAFAFA;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   font-size: 34px;
   color: #707070;
   margin: 0%;
  
 }
 .target-amount{
    color: #FF5959 !important; ;
    background-color: #FFEEEE  !important;
    border:  1px solid #FF5959 !important;
 }
 .input-amount{
    width: 80%;
    margin: auto;
    text-align: center;
 }
 .input-amount input{
    border: none; 
 }
 .donate-plan{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
 }
 .donate-item{
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
 }
 .food-color{
    background-color: rgba(79, 150, 166, 0.1) ;
 }
 .shelter-color{
    background-color: rgba(255, 89, 89, 0.1);
 }
 .frame-color{
    background-color: rgba(255, 244, 214, 1);
 }
 .feild-work{
   
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin: 40px;
   gap: 40px;
  
 }
 .feild-work img{
   width: 100%;
  
 }
 .updates{
   width: 40%;
   margin: auto;
 }
 .input-info{
   padding: 50px 80px;
   background-color: #FFF4D6;
   border-radius: 5px;
   

 }
 .info-feild{
   border: none;
   background-color: #D9D9D9;
   border-radius: 5px;
   padding: 10px 15px;
   margin-left: 0%;
   
      
}
footer{
   text-align: center;
   color: white;
   background-color: #0B0D17;
   padding:10px 20px;
}
footer h1{
   font-family: 'Lobster', cursive;
   color: #FF5959;
   margin-top: 20px;
   margin-bottom: 0;

}
footer small{
   margin: 20px;
}
 
